  <section class="bg-pattern">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 section-content text-center">
          <h3 class="animateOnScroll" data-animation="fadeInUp">Make a Reservation</h3>
          <p class="animateOnScroll" data-animation="fadeInUp" data-delay=".5s">Duis vel massa fringilla, suscipit risus sit amet, molestie eros.</p>
          <p>&nbsp;</p>
          <button type="button" class="btn btn-primary">Find a table</button>
        </div>
      </div>
    </div>
  </section>