  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 section-content text-center animateOnScroll" data-animation="fadeInUp">
          <h5>Location</h5>
          <address>
              <span>Bootstrapstrasse 17</span><br />
              <span>10243 <strong>Berlin</strong></span>
            </address>
          <p><strong>Hours</strong>
            <br />M–Th 11–23
            <br />F-Su 9–24</p>
          <p>&nbsp;</p>
          <p>
            <a href="#"><i class="fa fa-facebook social-icon" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter social-icon" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
          </p>
        </div>
        <div class="col-sm-12 col-md-6 section-content">
          <img src="images/place.jpg" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </section>