  <section>
    <div class="container">
      <h3>Recent works</h3>
      <div class="portfolio grid-4">
        <figure class="animateOnScroll" data-animation="fadeIn">
          <img src="images/portfolio/1.jpg" alt="" />
          <figcaption>
            <h2>Portfolio Item</h2>
            <p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
            <a href="portfolio-item.html">View more</a>
          </figcaption>
        </figure>
        <figure class="animateOnScroll" data-animation="fadeIn">
          <img src="images/portfolio/2.jpg" alt="" />
          <figcaption>
            <h2>Portfolio Item</h2>
            <p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
            <a href="portfolio-item.html">View more</a>
          </figcaption>
        </figure>
        <figure class="animateOnScroll" data-animation="fadeIn">
          <img src="images/portfolio/3.jpg" alt="" />
          <figcaption>
            <h2>Portfolio Item</h2>
            <p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
            <a href="portfolio-item.html">View more</a>
          </figcaption>
        </figure>
        <figure class="animateOnScroll" data-animation="fadeIn">
          <img src="images/portfolio/4.jpg" alt="" />
          <figcaption>
            <h2>Portfolio Item</h2>
            <p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
            <a href="portfolio-item.html">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>