<div class="row">
  <div class="">
   <%= render 'details', food: @food %>
  </div>
  <!-- Reviews -->
  <div class="col m4 offset-m1">
    <h3>Rating</h3>
    <%= render 'ratings/form', food: @food %>
  </div>
</div>

<script>
  $('#average_rating').raty({
    path: '/assets',
    readOnly: true,
    score: <%= @food.average_rating %>
  });
</script>